.container{
  display: flex;
  justify-content: center;
  margin: 100px;
}
button{
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-left: 80px;
  background: rgb(100, 100, 211);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.count{
  font-weight: 700;
  font-size: 30px;
}
.castomer{
  width: 350px;
  height: auto;
  font-size: 2rem; 
  margin-top: 20px; 
  margin-left: 550px; 
  border: 2px solid rgb(94, 107, 141);
  padding: 10px 20px;
}